{% extends "student/homepage.html" %} 

{% block content_heading %}

<a href="/student/about_us/">About Us</a><br><br>
<a href="/student/contact_us/">Contact Us</a><br><br>
<a href="/student/login/">Login</a><br>

{% endblock %}

{% block content %}
<p>
<h2>
<font color="darkgreen">

Choose your destination, the most inportant decision that changes yor life.<br>
We will provide you more than any facility ever provided by any other institute.

<div style="margin:380px 0 0 800px;">Tushar Singla</div> 
</p>

</font>
</h2>
</p>
{% endblock %}